  <div style='background-color: yellow'><font size='3'><%= link_to "Posts", posts_path %> | 
  <%= link_to "Categories", categories_path %></font></div>
<br>

<div style='background-color: #FFCC99'>
	<table width=100%>
		<tr align="Right">
			<td align='Left'>
				<font size=4><%= @category.name %></font>
			</td>
			<td algin='Right'>
				<%= link_to 'Back', categories_path %> |
				<%= link_to 'Edit', edit_category_path(@category) %> | 
				<%= link_to 'Delete', @category, :method => :delete, :confirm => "Are you sure?"%>
			</td>
		</tr>
	</table>
</div>
<hr>
<table style='float: left' width='50%'>
	<tr><td>
		<font size = 4> Description: </font>
		<div style='background-color: #FFFF99'>
			<font size=2 align='justify'><%= @category.description %></font>
		</div>
	</td></tr>
</table>

<table style="float: left" width="50%">
<% if @category.posts.length > 0 %>
	<font size = 4> Posts list: </font>
	<% @category.posts.each do |post| %>
	<tr><td>
		<div style='background-color: #CCFF99'>
			<strong>Title:</strong> <%= link_to post.title, post %>
		</div>
		<div style='background-color: #CCFFCC'>
			<strong>Text:</strong> <%= truncate post.body, :length => 100 %>
		</div>
		<hr></td></tr>
	<% end %>
</table>
<% end %>
